
<div class="square">
    <div class="square">
        <h1 id="title"> Eat Burgers! Yummy! </h1>
    </div>
</div>

<div class="squarePhoto"> 
    {{!-- <img id="burger" src="https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5f0073a4cccc536d82a58cebbc61d59&auto=format&fit=crop&w=634&q=80" alt="Smiley face" height="600" width="400"> --}}
    <img id="burger2" src="https://i.gifer.com/7nv9.gif">

</div>



<br> <br>

<div id="burgerAdded">
</div>

<div id="burgerDevoured">
</div>






<form class="square">
   <div class="square"> <h2 id="buttonTitle"> Add  new burger burger </h2> </div> 
    <input id="burger" placeholder="...burger...yummy...">
    <button  id="burgerSubmit" type="button" class="btn btn-primary">Add burger</button>
    <submit id="burgerSubmit2" class="btn btn-primary">Add burger</submit>

</form>
